# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore lock files
yarn.lock
package-lock.json

# Ignore OS and IDE specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Ignore Docker-related files you don't want to track
docker-compose.override.yml
